*{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* _________________________________Navbar__________________________________ */

.navbar-container{
    /* border: 2px solid red; */
    display: flex;
}
.navbar-icon{
    width: 8vw;
    text-align: center;
    margin: 20px 40px;
}
ul{
    display: flex;
    /* border: 2px solid green; */
    width: 86vw;
    justify-content: end;
}
li{
    list-style: none;
    display: flex;
    margin: 10px 10px;
}
.anchor-nav{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.anchor-nav:hover{
    background-color: white;
    color: black;
}
.navbar-nav-container{
    /* border: 2px solid rebeccapurple; */
    margin-top: 10px;
    padding-top: 10px;
}

.logo{
    height: 60px;
    width: 90px;
    background-color: whitesmoke;
    padding: 5px 25px;
    /* border: 2px solid red; */
    border-radius: 30px;
    transition: transform 0.3s ease;
}
.logo:hover{
    background-color: white;
    transform: scale(1.2);
    cursor: pointer;
    
}

/* _________________________________Home Image__________________________________ */

.home-img{
    width: 100vw;
    height: 72vh;
}


/* _________________________________Marquee__________________________________ */


.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }

  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
    font-size: 25px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }